:root{
    --Clr1: #3367d6;
    --Clr2: #2850a7;
    --Clr3: #6697ff;
    --Clr4: #475569;
    --Clr5: #64748b;
    --font1: "Roboto", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{box-sizing: border-box;font-family: var(--font1);}

html{
    font-size: 10px;
}

